
*{
    box-sizing: border-box;
}
body{
background-color: powderblue;
}

#logo-container{
    display:flex;
}
#logo_image{
    float: left;
    width: 100%;
    height: auto;
}

#para{
    padding: 10px;
    float: right;
    width: 40%;
}


